<section class="applications-page">
  <div class="container">
    <div class="applications-page-content">
      <div class="heading">
        <h5>Все приложения МТС</h5>
      </div>
      <div class="content-wrap left-side">
        <ul class="items">
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/1.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Kaspersky Антивирус для МТС</h6>
              <p>
                Cпециальная версия «Kaspersky Internet Security» для абонентов
                МТС
              </p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/2.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Вторая память</h6>
              <p>Резервное копирование контактов и мультимедиа</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/3.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Где дети</h6>
              <p>Местоположение ребенка на экране смартфона родителя</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/4.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Детский смартфон</h6>
              <p>Приложение для смартфона ребенка</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/5.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Легкий платеж</h6>
              <p>Оплата товаров и услуг при помощи телефона</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/6.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Мобильные сотрудники МТС</h6>
              <p>Отслеживание местонахождения сотрудников</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/4.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Мой МТС</h6>
              <p>
                Офис МТС <br />
                в вашем телефоне
              </p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/8.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>МТС Connect</h6>
              <p>МТС Connect - общение через интернет с друзьями и близкими.</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="content-wrap right-side">
        <ul class="items">
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/9.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>МТС GOOD'OK</h6>
              <p>Дарите близким радость, а не скучные гудки!</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/10.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>МТС Music</h6>
              <p>МТС Music – это музыкальный сервис для абонентов МТС</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/11.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>МТС Банк</h6>
              <p>Мобильный банкинг для клиентов МТС Банка</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/12.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>МТС Книги</h6>
              <p>
                МТС Книги — приложение для чтения электронных книг для абонентов
                МТС
              </p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/13.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>МТС Локатор</h6>
              <p>
                Возможность узнать, где находятся ваши друзья из МТС, МегаФон и
                Билайн
              </p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/14.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>МТС Пресса</h6>
              <p>«МТС Пресса» - это доступ к сотням газет и журналов</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/15.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Мой МТС</h6>
              <p>Телевизор у вас в кармане!</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
          <li class="item">
            <div class="icon">
              <img src="media/img/applications/16.png" alt="" />
            </div>
            <div class="text-wrapper">
              <h6>Скидка дня</h6>
              <p>«Скидка дня» – покупайте товары и услуги со скидкой до 90%</p>
              <a href="#" class="more">Подробнее</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
